<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471918202322-7vlb8q6tdlj6eu1k84lu3171bo1cn3a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471918202322-7vlb8q6tdlj6eu1k84lu3171bo1cn3a8</string>
	<key>API_KEY</key>
	<string>AIzaSyA4kg1DxUFHT3QcQBtGbR7yNvgb833RArc</string>
	<key>GCM_SENDER_ID</key>
	<string>471918202322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardscanner</string>
	<key>PROJECT_ID</key>
	<string>cardscanner-a13c1</string>
	<key>STORAGE_BUCKET</key>
	<string>cardscanner-a13c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471918202322:ios:ea72547902cd0492538c0b</string>
</dict>
</plist>